# Dart
.dart_tool/
.packages
*.iml
*.lock

# Flutter
.flutter/
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Pods/
ios/Podfile.lock
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.symlinks/
.dart_tool/
.packages

# Xcode
*.xcarchive
*.xcworkspace
xcuserdata/
DerivedData/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
